<md-dialog aria-label="Stats for this caht" class="alert-settings-keys">
  <md-content>
    <md-subheader class="md-sticky-no-effect text-center">Stats for this chat</md-subheader>

    <table class="table table-hover">
      <thead>
        <tr>
          <td width="200"><strong>User</strong></td>
          <td><strong>Today</strong></td>
          <td><strong>Week</strong></td>
          <td><strong>Month</strong></td>
          <td><strong>Year</strong></td>
          <td><strong>All</strong></td>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="stat in stats">
          <td>{{ stat._id.username }}</td>
          <td class="text-center">{{ stat.today }}</td>
          <td class="text-center">{{ stat.week }}</td>
          <td class="text-center">{{ stat.month }}</td>
          <td class="text-center">{{ stat.year }}</td>
          <td class="text-center">{{ stat.all }}</td>
        </tr>
      </tbody>
    </table>

  </md-content>
  <div class="md-actions" layout="row">
    <span flex></span>
    <md-button ng-click="hide()" class="md-raised md-primary">
     Okey, thanks
    </md-button>
  </div>
</md-dialog>