<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="myApp" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Chat Privately - The best way to keep your conversations save</title>
  <meta name="author" content="Valentin Kirilov">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="bower_components/html5-boilerplate/css/normalize.css">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/css/main.css">
  
  <link href="bower_components/sass-bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="bower_components/sass-bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet">

  <link rel="stylesheet" href="bower_components/angular-material/angular-material.css">
  <link rel="stylesheet" href="bower_components/angular-material/themes/default-theme.css">

  <!-- extra, overriding theme files -->
  <link rel="stylesheet" href="bower_components/angular-material/themes/indigo-theme.css">
  <link rel="stylesheet" href="bower_components/angular-material/themes/green-theme.css">

  <link rel="stylesheet" href="bower_components/angular-material/themes/blue-grey-theme.css">
  <link rel="stylesheet" href="bower_components/angular-material/themes/brown-theme.css">
  <link rel="stylesheet" href="bower_components/angular-material/themes/light-green-theme.css">
  <link rel="stylesheet" href="bower_components/angular-material/themes/teal-theme.css">
  <link rel="stylesheet" href="bower_components/animate.css/animate.min.css">

  <link href="bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet">

  <link rel="stylesheet" href="styles/app.css">
  
  <script src="bower_components/html5-boilerplate/js/vendor/modernizr-2.6.2.min.js"></script>
</head>
<body ng-controller="GlobalController" layout="row">

  <!-- <div id="loading" class="{{ isLoaded ? 'is-loaded' : 'is-loading' }}">Loading</div>
 -->
  <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->

  <md-sidenav layout="vertical" class="md-sidenav-left md-whiteframe-z2" md-theme="teal"
    ng-hide="!isLoggedView()" component-id="left" is-locked-open="$media('md')" tabindex="-1">

    <md-toolbar class="md-medium-tall md-default-theme">
      <h1 class="md-toolbar-tools" style="padding-top:25px;">
        <p ng-click="goHome()" tabindex="0" class="">
          {{user.firstName}} {{ user.lastName }}<br>{{ user.username }}
        </p>
      </h1>
    </md-toolbar>

    <md-content flex class="md-default-theme">

      <md-list class="main-options">
        <md-item>
          <md-item-content>
            
            <md-button class="btn-block" ng-click="toggleSidenav('right')">
              <div class="md-tile-content pull-left">
                <h3><span class="fa fa-gear"> </span> Settings</h3>
              </div>
            </md-button>
          </md-item-content>
        </md-item>
        <md-item>
          <md-item-content>
            <md-button class="btn-block" ng-click="logout()">
              <div class="md-tile-content pull-left">
                <h3><span class="fa fa-power-off"> </span> Logout</h3>
              </div>
            </md-button>
          </md-item-content>
        </md-item>
      </md-list>
      
      <!-- List with friends -->
      <md-toolbar class="md-theme-light">
        <h1 class="md-toolbar-tools">
          <span><span class="fa fa-users"> </span> Friends</span>
        </h1>
      </md-toolbar>

      <md-list>
        <md-item ng-repeat="friend in friends" ng-hide="friend.id === user.id">
          <md-item-content>

            <md-button class="btn-block" ng-click="chatFriend(friend.id)">
              <div class="md-tile-left pull-left">
                <img ng-src="{{friend.avatar}}" class="face img img-circle" alt="IMG" />
              </div>
              <div class="md-tile-content pull-left">
                <h3>{{ friend.username }}</h3>
              </div>
            </md-button>
          </md-item-content>
        </md-item>
      </md-list>

      <!-- List with recent concersations -->
      <md-toolbar class="md-theme-light">
        <h1 class="md-toolbar-tools">
          <span><span class="fa fa-comment"> </span> Recent conversations</span>
        </h1>
      </md-toolbar>

      <md-list class="rooms">
        <md-item ng-repeat="room in rooms">
          <md-button class="btn-block" ng-click="chatOpen(room.id)">
            <md-item-content>
              <div class="md-tile-content">
                <h3>{{ room.title }}</h3>
              </div>
            </md-item-content>
          </md-button>
        </md-item>
      </md-list>

    </md-content>

  </md-sidenav>

  <div layout="vertical" layout-fill="" tabindex="-1" role="main" md-theme="indigo">
    
    <md-toolbar class="app-toolbar">

      <div class="md-toolbar-tools" ng-click="toggleSidenav('left')" tabindex="0">
          <span class="fa fa-reorder" hide="" show-phone="" show-tablet="" ></span>
      </div>

      <!-- <div class="md-toolbar-tools api-options-bar with-icon ng-scope">
        <span flex=""></span>
        <a class="md-button md-indigo-theme" tabindex="0"></a>
      </div> -->

    </md-toolbar>

    <ng-view>
    </ng-view>

  </div>

  <md-sidenav class="md-sidenav-right md-whiteframe-z2 sidenav-settings" md-component-id="right" component-id="right" md-theme="teal">
    <md-toolbar class="md-theme-light">
      <h1 class="md-toolbar-tools"><span class="fa fa-user"> </span> Settings</h1>
    </md-toolbar>
    <md-content class="md-padding">
      <md-list class="main-options">
        <md-item>
          <md-item-content>
            <md-button class="btn-block md-primary" ng-click="closeSidenav('right')">
              <div class="md-tile-content pull-left">
                <h3>Close it, I'm done</h3>
              </div>
            </md-button>
          </md-item-content>
        </md-item>
      </md-list>
    </md-content>

    <md-toolbar class="md-theme-light">
      <h1 class="md-toolbar-tools"><span class="fa fa-user"> </span> Your Keys</h1>
    </md-toolbar>
    <md-content class="md-padding">

      <label for="settings-private-key">Private Key</label>
      <br />
      <textarea id"settings-private-key" readonly="readonly"></textarea>

      <label for="settings-public-key">Public Key</label>
      <br />
      <textarea id="settings-public-key" readonly="readonly"></textarea>

    </md-content>
  </md-sidenav>

  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
  -->

  <script src="bower_components/jquery/dist/jquery.min.js"></script>
  <script src="bower_components/sass-bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="libs/socket.io-client/socket.io.js"></script>

  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="bower_components/angular-animate/angular-animate.js"></script>
  <script src="bower_components/angular-aria/angular-aria.js"></script>    
  <script src="bower_components/hammerjs/hammer.js"></script>
  <script src="bower_components/angular-material/angular-material.js"></script>

  <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
  <script src="bower_components/angular-socket-io/socket.js"></script>
  <script src="bower_components/angular-cookie/angular-cookie.js"></script>
  <script src="bower_components/angular-loading-bar/build/loading-bar.js"></script>

  <script src="bower_components/lodash/dist/lodash.min.js"></script>
  <script src="bower_components/restangular/dist/restangular.min.js"></script>

  <script src="app.js"></script>
  <script src="login/login.js"></script>
  <script src="message-options/message-options.js"></script>
  <script src="view1/view1.js"></script>
  <script src="view2/view2.js"></script>
  <script src="victoria/victoria.js"></script>
  
  <script src="components/services/services.js"></script>
  <script src="components/services/chat-socket.js"></script>
  <script src="components/services/user-service.js"></script>
  <script src="components/services/rooms-service.js"></script>
  <script src="components/directives/directives.js"></script>
  <script src="components/directives/logo-directive.js"></script>
  <script src="components/version/version.js"></script>
  <script src="components/version/version-directive.js"></script>
  <script src="components/version/interpolate-filter.js"></script>

  <script src="bower_components/angular-gettext/dist/angular-gettext.min.js"></script>
  <!-- <script src="bower_components/angular-loading-bar/build/loading-bar.js"></script> -->
  <script src="bower_components/q/q.js"></script>
  <script src="translations.js"></script>

  <script src="bower_components/jsencrypt/bin/jsencrypt.min.js"></script>
  <script src="bower_components/moment/moment.js"></script>

</body>
</html>
