<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="myApp" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>My AngularJS App</title>
  <meta name="author" content="Valentin Kirilov">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="bower_components/html5-boilerplate/css/normalize.css">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/css/main.css">
  
  <link href="bower_components/sass-bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="bower_components/sass-bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet">

  <link rel="stylesheet" href="bower_components/angular-material/angular-material.css">
  <link rel="stylesheet" href="bower_components/angular-material/themes/default-theme.css">

  <link rel="stylesheet" href="styles/templates/starter-template.css">
  <link rel="stylesheet" href="styles/app.css">
  
  <script src="bower_components/html5-boilerplate/js/vendor/modernizr-2.6.2.min.js"></script>
</head>
<body ng-controller="GlobalController">

  <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Chat Privately</a>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a ng-click="toggleSidenav('left')">Show</a></li>
          <li><a ng-click="logout()">Logout</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>

  <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->

  <section layout="horizontal" flex>

    <md-sidenav class="md-sidenav-left md-whiteframe-z2" ng-hide="route === '/login'" component-id="left" is-locked-open="$media('md')">

      <md-toolbar class="md-theme-indigo">
        <h1 class="md-toolbar-tools">Sidenav Left</h1>
      </md-toolbar>
      <md-content class="md-padding">
        <md-button ng-click="closeSidenav('left')" class="md-primary" hide-md>
          Close Sidenav Left
        </md-button>
      </md-content>

      <md-toolbar class="md-theme-light">
        <h1 class="md-toolbar-tools">
          <span>Your Friends</span>
        </h1>
      </md-toolbar>

      <md-list>
        <md-item ng-repeat="friend in friends" ng-hide="friend.id === user.id">
          <md-item-content>
            <!-- <div class="md-tile-left">
                <img ng-src="{{ friend.avatar }}" class="face" alt="{{ friend.username }}">
            </div> -->
            <div class="md-tile-content">
              <h3 class="pull-left">{{ friend.username }}</h3>
              <md-button ng-click="chatFriend(friend.id)" class="pull-right">Chat</md-button>
            </div>
          </md-item-content>
        </md-item>
      </md-list>

      <md-toolbar class="md-theme-light">
        <h1 class="md-toolbar-tools">
          <span>Recent conversations</span>
        </h1>
      </md-toolbar>

      <md-list>
        <md-item ng-repeat="room in rooms" ng-click="chatOpen(room.id)">
          <md-item-content>
            <div class="md-tile-left">
                <img ng-src="{{ room.image }}" class="face" alt="{{ room.title }}">
            </div>
            <div class="md-tile-content">
              <h3>{{ room.participants }} asfasf</h3>
            </div>
          </md-item-content>
        </md-item>
      </md-list>

    </md-sidenav>

    <div style="width: 100%" ng-view></div>

  </section>


  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
  -->

  <script src="bower_components/jquery/dist/jquery.min.js"></script>
  <script src="bower_components/sass-bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="libs/socket.io-client/socket.io.js"></script>

  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="bower_components/angular-animate/angular-animate.js"></script>
  <script src="bower_components/angular-aria/angular-aria.js"></script>    
  <script src="bower_components/hammerjs/hammer.js"></script>
  <script src="bower_components/angular-material/angular-material.js"></script>

  <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
  <script src="bower_components/angular-socket-io/socket.js"></script>
  <script src="bower_components/angular-cookie/angular-cookie.js"></script>

  <script src="bower_components/lodash/dist/lodash.min.js"></script>
  <script src="bower_components/restangular/dist/restangular.min.js"></script>

  <script src="app.js"></script>
  <script src="login/login.js"></script>
  <script src="view1/view1.js"></script>
  <script src="view2/view2.js"></script>
  <script src="components/services/services.js"></script>
  <script src="components/services/chat-socket.js"></script>
  <script src="components/services/user-service.js"></script>
  <script src="components/services/rooms-service.js"></script>
  <script src="components/version/version.js"></script>
  <script src="components/version/version-directive.js"></script>
  <script src="components/version/interpolate-filter.js"></script>

  <script src="bower_components/angular-gettext/dist/angular-gettext.min.js"></script>
  <script src="translations.js"></script>

</body>
</html>
