<md-content scroll-y layout-fill="" flex class="md-padding">

  <div class="col-sm-4" flow-init 
    flow-files-submitted="$flow.upload()"
    flow-file-added="avatarAddedHandle($file)"
    flow-file-success="avatarSuccessHandle($file, $message)"
    flow-attrs="{accept:'image/*'}">

    <img src="avatars/{{ user.avatar }}" flow-img="'avatars/'+user.avatar || $flow.files[0]" class="img img-responsive img-thumbnail" flow-btn />
  </div>

  <div class="col-sm-8">
    <h1 ng-click="toggleSidenav('right')">
      {{ profile.firstName }} {{ profile.lastName }}
    </h1>
    <h3 ng-click="toggleSidenav('right')">
      {{ profile.username }}
    </h3>
    <br />
    <p>{{ profile.description }} Description soon..</p>
    
  </div>

  <div class="col-xs-12">
    <h1>Your posts</h1>
    <md-list>
      <md-item ng-repeat="post in myPosts">
        <md-item-content>
          <div class="md-tile-left">
            <img ng-src="avatars/{{ profile.avatar }}" ng-show="post.userId === user.id" class="face" alt="{{message.username}}">
            <img ng-src="avatars/{{ friends[post.userId].avatar }}" ng-show="post.userId !== user.id" class="face" alt="{{message.username}}">
          </div>
          <div class="md-tile-content" ng-show="post.userId !== user.id">
            <h3>{{ friends[post.userId].firstName }} {{ friends[post.userId].lastName}} ({{ friends[post.userId].username }})</h3>
            <h4>{{ post.date }}</h4>
            <p>
              {{ post.message }}
            </p>
          </div>

          <div class="md-tile-content" ng-show="post.userId === user.id">
            <h3>{{ profile.firstName }} {{ profile.lastName}} ({{ profile.username }})</h3>
            <h4>{{ post.date }}</h4>
            <p>
              {{ post.message }}
            </p>
          </div>
        </md-item-content>
      </md-item>
    </md-list>
  </div>

</md-content>
