
<link href="styles/login.css" rel="stylesheet" />

<div class="container">
 <form class="form-signin" role="form">
    <h1>Chat Privately</h1>

    <md-text-float label="E-mail / Username" ng-model="input.name" class="md-form" p></md-text-float>
    <md-text-float label="Password" ng-model="input.password" class="md-form" type="password" p></md-text-float>
    
    <!-- <md-checkbox ng-model="data.cb1" aria-label="Checkbox 1">
      Remember me (NB: Still not working)
    </md-checkbox> -->

    <br />

    <md-button class="md-raised md-primary md-block" ng-click="login()">Log me in</md-button>
  </form>
</div>