
<link href="styles/login.css" rel="stylesheet" />

<div class="container">
 
</div>

<div class="container">
  <div class="col-sm-6 col-md-4">
    <form class="form-signin" role="form">
      <logo-directive></logo-directive>
      <br />


      <div class="form-input" ng-show="isLogoVissible">
        <br />
        <h1>Login to ChatPrivately</h1>
        <md-text-float label="E-mail / Username" ng-model="input.name" class="md-form" p></md-text-float>
        <md-text-float label="Password" ng-model="input.password" class="md-form" type="password" p></md-text-float>

        <!-- <md-checkbox ng-model="data.cb1" aria-label="Checkbox 1">
          Remember me (NB: Still not working)
        </md-checkbox> -->

        <br />

        <md-button class="md-raised md-primary md-block" ng-click="login()">Log me in</md-button>
      </div>
      
    </form>
  </div>

  <div class="col-sm-6 col-md-8 info">
    <md-content class="md-padding">
      <h1>What is <strong>ChatPrivately</strong>?</h1>
      <p>Some description here</p>

      <h1>What it <strong>gives</strong> me?</h1>
      <p>Some description here</p>

      <h1>How can I be sure that it is <strong>save</strong>?</h1>
      <p>Some description here</p>
    </md-content>
  </div>

</div>