 
<link href="styles/login.css" rel="stylesheet" />

<div class="container">
 <form class="form-signin" role="form">
    <h1>Chat Privately</h1>

    <md-text-float label="Username" ng-model="input.username" class="md-form" p></md-text-float>
    <md-text-float label="E-mail" ng-model="input.email" class="md-form" p></md-text-float>
    <md-text-float label="Password" ng-model="input.password" class="md-form" type="password" p></md-text-float>
    
    <br />

    <md-button class="md-raised md-primary md-block" ng-click="register()">Register me</md-button>
  </form>
</div>