 
<div class="container">
 <form class="form-signin" role="form">
    <h2 class="form-signin-heading">Please sign in</h2>

    <label for="inputEmail" class="sr-only">Username</label>
    <input type="text" ng-model="input.username" class="form-control" placeholder="Email address" required autofocus>

    <label for="inputEmail" class="sr-only">Email address</label>
    <input type="mail" ng-model="input.email" class="form-control" placeholder="Email address" required autofocus>
    
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" ng-model="input.password" class="form-control" placeholder="Password" required>
    <div class="checkbox">
      <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="register()">register</button>
  </form>
</div>