

<link href="styles/chat.css" rel="stylesheet" />


<md-content flex class="md-padding">

  <div layout="vertical" layout-fill layout-align="center center">

    <md-tabs selected="selectedIndex">
      <md-tab ng-repeat="tab in tabs" ng-disabled="false" label="{{tab.title}}">
        <div class="demo-tab tab{{$index%4}}" layout="vertical" layout-fill layout-align="space-around center">
          <ul class="chat-messages">
            <li ng-repeat="message in tab.room.messages">
              <strong>{{ message.username }}</strong>: {{ message.content }}
            </li>
          </ul>
        </div>
      </md-tab>
    </md-tabs>
    
    
    <form action="">
      <input autocomplete="off" ng-model="message" ng-keypress="send($event)" autofocus />
    </form>

  </div>

</md-content>

<md-sidenav class="md-sidenav-right md-whiteframe-z2" component-id="right">

  <md-toolbar class="md-theme-light">
    <h1 class="md-toolbar-tools">Sidenav Right</h1>
  </md-toolbar>
  <md-content  class="md-padding">
    <md-button ng-click="closeSidenav('right')" class="md-primary">
      Close Sidenav Right
    </md-button>
  </md-content>

</md-sidenav>
