
// html, body {
//   height: 100%;
//   color: rgba(0, 0, 0, 0.73);
//   background: #ffffff;

//   -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
//   -webkit-touch-callout: none;
//   -webkit-text-size-adjust: 100%;
//   -webkit-font-smoothing: antialiased;
//   text-rendering: optimizeLegibility; 
// }
// 


/** The main loading container */
#loading {
  display: none;
  width: 100%;
  height: 100%;
  background: #fbfb33;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;

  &.is-loading {
    display: block;
  }
}

.face {
  width: 48px;
  height: 48px;
  margin: 5px;
}
.md-tile-content {
  margin: 5px;
}

.rooms,
.main-toptions {
  .btn-block {
    padding: 0;

    button {
      padding: 0;
    }
  }

  .md-tile-content {
    margin: 0;

    h3 {
      text-transform: none;
    }
  }
}

md-bottom-sheet.message-bottom-sheet {
  z-index: 50;

  .md-button-inner {
    padding: 10px;

    .md-grid-text {
      width: inherit;
      margin-top: 5px;
    }
  }
}