
// html, body {
//   height: 100%;
//   color: rgba(0, 0, 0, 0.73);
//   background: #ffffff;

//   -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
//   -webkit-touch-callout: none;
//   -webkit-text-size-adjust: 100%;
//   -webkit-font-smoothing: antialiased;
//   text-rendering: optimizeLegibility; 
// }

.face {
  width: 48px;
  height: 48px;
  margin: 5px;
}
.md-tile-content {
  margin: 5px;
}

.rooms,
.main-toptions {
  .btn-block {
    padding: 0;

    button {
      padding: 0;
    }
  }

  .md-tile-content {
    margin: 0;

    h3 {
      text-transform: none;
    }
  }
}